#container {
    position: relative;
    width: 69%;
    margin: auto;
}
.section1 {
    position: relative;
    text-align: center;
    color: white;
   }
.centered1 {
    font-size: x-large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8px;
}
.section2 {
    position: relative;
    text-align: center;
    color: black;
    font-size: 9.2px;
    width: 81%;
    margin: auto;
}
.section3 {
    position: relative;
    text-align: center;
    color: white;
    line-height: 12%;
}
.centered2 {
    font-size: large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9.2px;
    width: 75%;
}
.section4 {
    text-align: center;
    font-size: 9px;
    
}
.section5 {
    position: relative;
    text-align: center;
    margin: auto;
    color: white; 
}
.section6 {
    font-size: 10px;
    text-align: center;
   
}
.section7 {
    padding-left: 182px;
    text-align: center;
    content: "";
    clear: both;
    display: table;
   
 }

.centered3 {
    font-size: x-large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}
input, button, select, optgroup, textarea, ::placeholder{
    margin: auto;
    background-color: transparent; 
    color: white;
    font-size: 12px;
}
#development {
    float: none;
}
.icons {
    float: left;
    margin: 34px;
    text-align: center;
}
.caption {
    text-align: center;
}
.container {
    float: left;
    position: relative;
    width: 25%;
    padding-left: 1px;
    padding-bottom: 20px;
    
  }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
   
  }
  
  .container:hover .image {
    opacity: 0.1;
   
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  .text {
    color: white;
    font-size: 17px;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 26px;
    padding-left: 4px;
    padding-right: 50px;
    text-align: left;
    opacity: 500;
    border-style: solid;
    margin-left: 0.4px;

}
